<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>24/06/13</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MBA61.88Z.0099.B00.1305241529</string>
	<key>SMboardproduct</key>
	<string>Mac-7DF21CB3ED6977E5</string>
	<key>SMfamily</key>
	<string>MacBook Air</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMproductname</key>
	<string>MacBookAir6,2</string>
	<key>SMserial</key>
	<string>C02L3096FMR7</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
